<section>
  <div class="slanted-box"></div>
</section>
<main>
    <div class="labels">
      <p class="ranking">Ranking</p>
      <p class="country">Country</p>
      <p class="game">Game</p>
    </div>
    <div class="stats">
      <p class="stat-ranking">481</p>
      <p class="stat-country">India</p>
      <p class="stat-game">Call of Duty</p>
    </div>
    <div class="stats">
      <p class="stat-ranking">211</p>
      <p class="stat-country">United States</p>
      <p class="stat-game">Call of Duty</p>
    </div>
    <div class="stats">
      <p class="stat-ranking">52</p>
      <p class="stat-country">Australia</p>
      <p class="stat-game">Battlefield</p>
    </div>
  </main>

  