main {
  margin: 5em;

  h1 {
    font-size: 4.4rem;
    font-family: "Playfair Display";
    margin-top: 3em;
    position: relative;
  }

  h1::before {
    position: absolute;
    content: "N";
    top: -13rem;
    left: -8rem;
    font-size: 30rem;
    color: rgba(0, 0, 0, 0.05);
  }

  section {
    display: flex;
    gap: 5.7em;
    border-top: 1px solid black;

    article {
      h2 {
        font-size: 2.2rem;
        margin-top: 1.5em;
        font-family: "Playfair Display";
      }

      

      p {
        font-size: 1.4rem;
        margin-top: 1em;
      }
    }
  }
}
