

<main>
  <h1>Latest News 2</h1>
  <section>
    <article>
      <h2>Engagement at an all time low among young voters</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum lectus
        sociis at dolor turpis adipiscing tellus et ipsum.
      </p>
    </article>
    <article>
      <h2>Engagement at an all time low among young voters</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum lectus
        sociis at dolor turpis adipiscing tellus et ipsum.
      </p>
    </article>
    <article>
      <h2>Engagement at an all time low among young voters</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum lectus
        sociis at dolor turpis adipiscing tellus et ipsum.
      </p>
    </article>
  </section>
</main>
