
section {
    background: white;
    padding: 7em;
    width: 1200px;
    border-radius: .8em;
    display: flex;
    gap: 13.5em;
    border: 1px solid red;
    
}

.left-col {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    flex: .6;
    border: 2px solid blue;
    justify-content: space-between;
    
}

.text-wrap {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
}

.left-col p {
    font-size: 2rem;
}

a.cta {
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: #406A29;
    font-weight: bold;
}

a.cta p {
    margin: 0;
}

.right-col {
    border: 2px solid palevioletred;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 2.8em;
}

.right-col .box {
    width: 30%;
    aspect-ratio: 1/1;
    gap: 1em;
    border-radius: .6em;
    background: rgb(230, 21, 21);
}

.right-col .box:nth-of-type(1) {
    background-image: url('/../assets/images/drum1.jpg');
    background-size: cover;
}

.right-col .box:nth-of-type(2) {
    background-image: url('/../assets/images/drum2.jpg');
    background-size: cover;
}

.right-col .box:nth-of-type(3) {
    background-color: #ee68c6;
}

.box:nth-of-type(6) {
    background-image: url('/../assets/images/drum3.jpg');
    background-size: cover;
}

.box:nth-of-type(5) {
    background-color: #BBC8E1;
}